.env
*.env

ngrok_config.json

*.xlsx


text_data/

train/
test/

tmp_crops/
test_data/
temp/

correction_data/
correction_data_a/
train_clova/
test_clova/
CLOVA_V2_train/

finetune_results/

wandb/
*.pt
*.txt
*.png
*.jpg
*.pyc